.logo {
    width: 100%;
    height: 45px;
    padding: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.180);
    font-weight: 600;
    font-size: 1.6rem;
    align-items: center;
    background: #00000045;


}

.gradientText {
    color: #fff;
    padding: 0.5rem;
}

.gradientText > i {
    margin-right: 0.5rem;
}