.projectName {
    margin-left: 0.5rem;
    font-weight: 600;
    font-size: 1.4rem;
    background: transparent;
    padding: 0.4rem;
    border-radius: 5px;
    max-width: 50ch;
    border: 1px solid transparent;
}

.projectName:focus, .projectName:hover {
    border-color: var(--mainOrange);
}