.topNavbar {
    height: var(--topHeaderHeight);
    width: 100%;
    background: var(--bg-topNavbar);
    border-bottom: 1px solid rgba(0, 0, 0, 0.100);
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.leftControls {
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.rightControls {
    display: block;
}
