.filterButton {
    cursor: pointer;
    margin: 0 1rem;
}

.icon {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem; 
}

.icon svg {
    stroke: var(--mainOrange);
    height: 1.8rem;
    width: 1.8rem;
    margin: auto;
    box-sizing: content-box;
}

.icon:hover {
    background-color: var(--mainOrangeTransparent);
}