.wrapper {
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
    /* border: var(--transparentBorder); */
}

/* .wrapper:hover {
    border-color: var(--mainOrange);
} */

.wrapper input[type='checkbox'] {
    display: none;
}

#viewSelect:checked ~ #kanbanViewButton {
    display: none;
}

#viewSelect:not(:checked) ~ #checkedViewButton {
    display: none;
}


