.wrapper {
    width: 10rem;
    border-radius: 5px;
    cursor: pointer;
}

.viewSelectButton {
    line-height: 1rem;
    color: var(--mainOrange);
    user-select: none;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 5px;

}

.viewSelectButton:hover {
    background-color: var(--mainOrangeTransparent);
}

.icon {
    margin-right: 0.5rem;
}

.icon svg {
    stroke: var(--mainOrange);
    height: 1rem;
    width: 1rem;
    margin: auto;
}
