.app {
    width: 100vw;
    height: 100vh;
}

.mainLayout {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;

}

.mainContent {
    width: calc(100% - var(--leftSidebarWidth));
    background-color: var(--lightGray);
}
