/* CSS reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

body {
  --bg-topNavbar: #fff;
  --bg-sidebarLogo: #254343;
  --topHeaderHeight: 55px;
  --mainOrange: #ffa500;
  --mainOrangeTransparent: #ffa50017;
  --darkGray: #d1d1d1;
  --lightGray: #ececec;
  --kanbanHeaderHeight: 65px;
  --rightsideMarginLeft: 1rem;
  --transparentBorder: 1px solid transparent;
  --listWidth: 320px;
  --leftSidebarWidth: 220px;
  --listTopBandHeight: 45px;
  --lightGreen: #c7dad6;
  --orangeBorder: 1px solid var(--mainOrange);
}

html,
body {
  overflow: hidden;
}