/* CSS reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

body {
  --bg-topNavbar: #fff;
  --bg-sidebarLogo: #254343;
  --topHeaderHeight: 55px;
  --mainOrange: #ffa500;
  --darkGray: #d1d1d1;
  --kanbanHeaderHeight: 65px;
  --rightsideMarginLeft: 1rem;
  --transparentBorder: 1px solid transparent;
}